{{- if .Values.jellyfin.enabled }}
{{- if eq .Values.jellyfin.persistence.media.type "smb" }}
{{- if and (not .Values.jellyfin.persistence.media.smb.secretName) .Values.jellyfin.persistence.media.smb.username .Values.jellyfin.persistence.media.smb.password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "media-server.fullname" . }}-jellyfin-smb
  labels:
    {{- include "media-server.labels" . | nindent 4 }}
    app.kubernetes.io/component: jellyfin
type: Opaque
stringData:
  username: {{ .Values.jellyfin.persistence.media.smb.username | quote }}
  password: {{ .Values.jellyfin.persistence.media.smb.password | quote }}
  {{- if .Values.jellyfin.persistence.media.smb.domain }}
  domain: {{ .Values.jellyfin.persistence.media.smb.domain | quote }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
