apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: podinfo
spec:
  source:
    repoURL: https://stefanprodan.github.io/podinfo
    targetRevision: 6.*
    chart: podinfo
    helm:
      values: |
        replicaCount: 2
        resources:
          requests:
            cpu: 100m
            memory: 64Mi
