apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: jenkins
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: team-alpha-jenkins
    server: "https://kubernetes.default.svc"
  project: team-alpha
  source:
    repoURL: "https://charts.jenkins.io"
    chart: jenkins
    targetRevision: 5.x.x
    helm:
      valuesObject:
        controller:
          serviceType: ClusterIP
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "1000m"
              memory: "1Gi"
          javaOpts: "-Xms256m -Xmx512m"
        persistence:
          enabled: true
          size: 5Gi
        serviceAccount:
          create: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
