apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: jenkins
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: team-alpha-jenkins
    server: "https://kubernetes.default.svc"
  project: team-alpha
  source:
    repoURL: "https://charts.jenkins.io"
    chart: jenkins
    targetRevision: 5.x.x
    helm:
      valuesObject:
        controller:
          serviceType: ClusterIP
          jenkinsUrl: "https://jenkins.cace-1-dev.dramisinfo.com"
          additionalPlugins:
            - locale:latest
            - github:latest
            - github-branch-source:latest
          additionalExistingSecrets:
            - name: jenkins-github-app
              keyName: app-id
            - name: jenkins-github-app
              keyName: private-key
          JCasC:
            configScripts:
              locale: |
                appearance:
                  locale:
                    ignoreAcceptLanguage: true
                    systemLocale: "en"
              github: |
                credentials:
                  system:
                    domainCredentials:
                      - credentials:
                          - gitHubApp:
                              appID: "${jenkins-github-app-app-id}"
                              description: "GitHub App"
                              id: "github-app"
                              privateKey: "${jenkins-github-app-private-key}"
                unclassified:
                  gitHubPluginConfig:
                    configs:
                      - credentialsId: "github-app"
                        name: "GitHub"
                        apiUrl: "https://api.github.com"
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "1000m"
              memory: "1Gi"
          javaOpts: "-Xms256m -Xmx512m -Duser.language=en -Duser.country=US"
        persistence:
          enabled: true
          size: 5Gi
        serviceAccount:
          create: true
        extraObjects:
          - apiVersion: networking.istio.io/v1beta1
            kind: VirtualService
            metadata:
              name: jenkins
              namespace: team-alpha-jenkins
            spec:
              hosts:
                - jenkins.cace-1-dev.dramisinfo.com
              gateways:
                - istio-system/shared-gateway
              http:
                - route:
                    - destination:
                        host: jenkins
                        port:
                          number: 8080
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
