apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  environment: dev
resources:
  - ../../base
  - ./otel-collector
  - dora-metrics-dashboard.yaml

patches:
  - path: patches/platform-core.yaml
