apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  environment: dev
resources:
  - ../../base
  - kagent-secrets/kustomization.yaml
  - otel-collector/kustomization.yaml

patches:
  - path: patches/platform-core.yaml
