apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  environment: dev
resources:
  - ../../base
  # - artifactory-application.yaml

patches:
  - path: patches/platform-core.yaml
