apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  environment: dev
resources:
  - ../../base
  # Commented out until proper image and credentials are available
  # - ./otel-collector

patches:
  - path: patches/platform-core.yaml
