apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-github-collector-config
  namespace: monitoring
data:
  otel-collector-config.yaml: |
    extensions:
      githubappauth:
        app_id: ${env:GITHUB_APP_ID}
        installation_id: ${env:GITHUB_INSTALLATION_ID}
        private_key_file: /etc/githubapp/key.pem

    receivers:
      github:
        initial_delay: 10s
        collection_interval: 300s
        webhook:
          endpoint: "localhost:8080"
          path: "/events"
          health_path: "/health"
        scrapers:
          scraper:
            github_org: DramisInfo # organization name provided by user
            metrics:
              vcs.contributor.count:
                enabled: true
              vcs.cve.count:
                enabled: true
            auth:
              authenticator: githubappauth

    exporters:
      prometheus:
        endpoint: "0.0.0.0:9090"

    service:
      telemetry:
        logs:
          level: debug
      extensions: [githubappauth]
      pipelines:
        metrics:
          receivers: [github]
          processors: []
          exporters: [prometheus]
